<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.creaturi.snte"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Turisnte</name>

  <description>
      Bneficios exclusivos brindados por SNTE Beneficios para Maestros y trabajadores de la educación, descuentos en Viajes y Seguros de Auto.
  </description>

  <author href="http://creaturi.com" email="uri@creaturi.com">
      Creaturi diseño
  </author>

  <plugin name="com.stevenpartridge.inappbrowser" spec="1.4" source="pgb" />

  <icon src="images/icons/icon.png" />
  <splash src="images/splash/splash.png" />

  <!-- Android -->
  <icon src="images/icons/ldpi.png" platform="android" qualifier="ldpi" />
  <icon src="images/icons/mdpi.png" platform="android" qualifier="mdpi" />
  <icon src="images/icons/hdpi.png" platform="android" qualifier="hdpi" />
  <icon src="images/icons/xhdpi.png" platform="android" qualifier="xhdpi" />
  <icon src="images/icons/xxhdpi.png" platform="android" qualifier="xxhdpi" />

  <splash src="ldpi.png" platform="android" qualifier="ldpi" />
  <splash src="mdpi.png" platform="android" qualifier="mdpi" />
  <splash src="hdpi.png" platform="android" qualifier="hdpi" />
  <splash src="xhdpi.png" platform="android" qualifier="xhdpi" />

</widget>